<%
  _shop = record.shop
  _shopkeeper = _shop.try(:shopkeeper)
%>
<tr>
  <th scope="row"><%= record.id %></th>
  <td><%= _shop.to_s %></td>
  <td><%= _shopkeeper.to_s %></td>
  <td><%= _shopkeeper.try :province %></td>
  <td><%= _shopkeeper.try :city %></td>
  <td><%= time_tag _shopkeeper.try :created_at if _shopkeeper %></td>
  <td><%= _shopkeeper.try :user_grade_i18n %></td>
  <% stat_fields.each {|field| %>
    <td><%= record.send(field) %></td>
  <% } %>
</tr>