<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "今日", url_for(report_date: Date.today), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "昨日", url_for(report_date: Date.yesterday), class: "nav-link" %>
      </li>
      <% 7.days.ago.to_date.upto(2.days.ago.to_date).reverse_each do |date| %>
        <li class="nav-item">
          <%= link_to date.strftime("%m-%d"), url_for(report_date: date.to_s), class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <form class="form-inline">
      <label class="sr-only" for="shop_id">店铺ID</label>
      <%= text_field_tag :shop_id, params[:shop_id], class: "form-control mb-2 mr-sm-2", placeholder: "店铺ID"%>

      <button type="submit" class="btn btn-primary mb-2">查询</button>
    </form>
    <div class="table-responsive" >
      <table class="table table-sm table-hover">
        <caption class="p-0">
          店主行为报表
          <%= button_tag "导出", class: "btn btn-sm ml-2 btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
        </caption>
        <%
           _stat_fields = ReportShopActivity.stat_fields
        %>
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><div class="wi3">报表日期</div></th>
            <th scope="col"><div class="wi4">店铺名称</div></th>
            <th scope="col"><div class="wi3">店主姓名</div></th>
            <th scope="col"><div class="wi3">省份</div></th>
            <th scope="col"><div class="wi3">城市</div></th>
            <th scope="col"><div class="wi4">开店时间</div></th>
            <th scope="col"><div class="wi3">店铺等级</div></th>
            <% _stat_fields.each {|field| %>
              <th scope="col"><div class="wi3"><%= ReportShopActivity.human_attribute_name(field) %></div></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% cache ["dev/report/shop_activities/index", @report_shop_activities] do %>
            <%= render partial: "dev/report/shop_activities/index_tr",
              collection: @report_shop_activities,
              as: :record, cached: true, locals: {
                stat_fields: _stat_fields
              }
            %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @report_shop_activities
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>