<tr>
  <td><%= record.order_no %></td>
  <td><%= record.shop_name %></td>
  <td><%= record.shop_username %></td>
  <td><%= record.recv_user_name %></td>
  <td><%= record.recv_phone_no %></td>
  <td><%= record.recv_phone_no %></td>
  <td><%= record.total_price %></td>
  <td><%= record.created_at %></td>
  <td><%= record.province %></td>
  <td><%= record.city %></td>
  <td><%= [record.province, record.city, record.detail_address].join(" ") %></td>
</tr>