<tr>
  <td><%= record.order_no %></td>
  <td><%= record.shop_name %></td>
  <td><%= record.order_type_i18n %></td>
  <td><%= record.shop_username %></td>
  <td><%= record.shopkeeper.try :user_grade_i18n %></td>
  <td><%= record.recv_user_name %></td>
  <td><%= record.recv_phone_no %></td>
  <td>
    <% record.order_details.each do |order_detail| %>
      <%= "#{order_detail.product_name} * #{order_detail.product_sale_price} * #{order_detail.product_num}" %>
      <br />
    <% end %>
  </td>
  <td><%= record.total_price %></td>
  <td><%= time_tag record.created_at %></td>
  <td><%= record.province %></td>
  <td><%= record.city %></td>
  <td><%= [record.province, record.city, record.detail_address].join(" ") %></td>
</tr>