<div class="card">
  <div class="card-body">
    <form class="form-inline">
      <label>商品名称: </label>
      <%= text_field_tag :product_name, params[:product_name], class: "form-control mb-2 mr-sm-2", placeholder: "请输入商品名称" %>

      <label>品牌名称: </label>
      <%= select_tag "supplier_id", options_for_select(Supplier.select_options, params[:supplier_id]), class: "form-control mb-2 mr-sm-2", prompt: "请选择品牌" %>

      <label>分类名称: </label>
      <%= select_tag "category_id", options_for_select(Category.select_options, params[:category_id]), class: "form-control mb-2 mr-sm-2", prompt: "请选择分类" %>

      <label>下单时间: </label>
      <%= select_tag "created_at", options_for_select([
          ["今日", Date.today],
          ["昨日", Date.yesterday],
          ["上周", DateTime.now.last_week.all_week],
          ["上月", DateTime.now.last_month.all_month],
          ["本周", DateTime.now.all_week],
          ["本月", DateTime.now.all_month],
          ["本季度", DateTime.now.all_quarter]
        ], params[:created_at]), class: "form-control mb-2 mr-sm-2", prompt: "请选择分类" %>

      <button type="submit" class="btn btn-primary mb-2">查询</button>
    </form>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <caption class="p-0">
          订单信息
          <%= button_tag "导出", class: "btn btn-sm ml-2 btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
        </caption>
        <thead class="thead-light">
        <tr>
          <th scope="col">订单编号</th>
          <th scope="col">店铺名称</th>
          <th scope="col">店主姓名</th>
          <th scope="col">店铺等级</th>
          <th scope="col">收件人姓名</th>
          <th scope="col">收件人手机号</th>
          <th scope="col">商品信息</th>
          <th scope="col">订单金额</th>
          <th scope="col">时间</th>
          <th scope="col">省份</th>
          <th scope="col">城市</th>
          <th scope="col">收货地址</th>
        </tr>
        </thead>
        <tbody>
        <% cache ["dev/report/orders/index", @orders] do %>
          <%= render partial: "dev/report/orders/index_tr",
            collection: @orders,
            as: :record, cached: true
          %>
        <% end %>
        <% if @orders.blank? %>
          <tr>
            <th colspan="11">
              <div class='text-center'>没有符合条件的数据</div>
            </th>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @orders
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>