<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "本周", url_for(report_date: DateTime.now.all_week), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上周", url_for(report_date: DateTime.now.last_week.all_week), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "本月", url_for(report_date: DateTime.now.all_month), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上月", url_for(report_date: DateTime.now.last_month.all_month), class: "nav-link" %>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <caption class="p-0">
          每日运营报表
          <%= button_tag "导出", class: "btn btn-sm ml-2 btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
        </caption>
        <%
           _stat_fields = %w(
             total_shopkeeper_count shopkeeper_count activation_shopkeeper_count
             activation_shopkeeper_rate view_count viewer_count shared_count
             order_total_price order_count
             income_coin use_coin
             order_pay_price order_conversion_rate
             sale_order_total_price sale_order_total_price_rate
             shopkeeper_order_total_price shopkeeper_order_total_price_rate
             create_shop_order_total_price
             order_total_price_avg commission_income_amount
             activity_ticket_amount product_cost withdraw_amount
           )
        %>
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><div class="wi3">日期</div></th>
            <% _stat_fields.each {|field| %>
              <th scope="col"><div class="wi3"><%= ReportDailyOperational.human_attribute_name(field) %></div></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% cache ["dev/report/daily_operationals/index", @report_daily_operationals] do %>
            <%= render partial: "dev/report/daily_operationals/index_tr",
              collection: @report_daily_operationals,
              as: :record, cached: true, locals: {
                stat_fields: _stat_fields
              }
            %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @report_daily_operationals
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>