<% product = products.find {|product| product.id == record.product_id }%>
<% supplier = suppliers.find {|supplier| supplier.id == record.supplier_id } %>

<tr>
  <td><%= product.category %></td>
  <td><%= supplier %></td>
  <td><%= product.no %></td>
  <td><%= product %></td>
  <td><%= record.number %></td>
  <td><%= record.amount %></td>
</tr>