<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "今日", url_for(created_at: Date.today), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "昨日", url_for(created_at: Date.yesterday), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上周", url_for(created_at: DateTime.now.last_week.all_week), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上1月", url_for(created_at: 1.months.ago.all_month), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上2月", url_for(created_at: 2.months.ago.all_month), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上3月", url_for(created_at: 3.months.ago.all_month), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "本周", url_for(created_at: DateTime.now.all_week), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "本月", url_for(created_at: DateTime.now.all_month), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "7天", url_for(created_at: 7.days.ago..DateTime.now), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "30天", url_for(created_at: 30.days.ago..DateTime.now), class: "nav-link" %>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <caption class="p-0">
          产品销量报表
          <%= button_tag "导出", class: "btn btn-sm ml-2 btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
        </caption>
        <thead class="thead-light">
          <tr>
            <th scope="col">分类</th>
            <th scope="col">供应商</th>
            <th scope="col">产品编号</th>
            <th scope="col">产品名称</th>
            <th scope="col">数量</th>
            <th scope="col">销售额</th>
          </tr>
        </thead>
        <tbody>
          <%
            _order_details = @order_details.pluck_s(
              :product_id,
              Arel.sql("max(`order_details`.`supplier_id`) AS supplier_id"),
              Arel.sql("max(`order_details`.`updated_at`) AS updated_at"),
              Arel.sql("sum(`order_details`.`product_num`) AS number"),
              Arel.sql("sum(`order_details`.`product_num` * `order_details`.`product_sale_price`) AS amount")
            )
          %>
          <%= render partial: "dev/report/order_details/sales_tr",
            collection: _order_details,
            as: :record, cached: true, locals: {
              all_order_details: @all_order_details,
              suppliers: Supplier.where(id: _order_details.map(&:supplier_id)),
              products: Product.preload(:category).where(id: _order_details.map(&:product_id)),
            }
          %>
        </tbody>
      </table>
    </div>

    <%= render partial: "dev/shared/paginate", locals: {
        records: @order_details
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>