<div class="card">
  <div class="card-body">
    <h4 class="card-title">新增店主</h4>
    <ul>
      <li>
         <%= link_to "今日", url_for(created_at: Date.today)%>
         <%= link_to "昨日", url_for(created_at: Date.yesterday)%>
         <%= link_to "上周", url_for(created_at: DateTime.now.last_week.all_week)%>
         <%= link_to "上月", url_for(created_at: DateTime.now.last_month.all_month)%>
         <%= link_to "本周", url_for(created_at: DateTime.now.all_week)%>
         <%= link_to "本月", url_for(created_at: DateTime.now.all_month)%>
      </li>
    </ul>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <%= button_tag "导出", class: "btn btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">店铺名称</th>
            <th scope="col">店主姓名</th>
            <th scope="col">省份</th>
            <th scope="col">城市</th>
            <th scope="col">创建时间</th>
            <th scope="col">店铺等级</th>
            <th scope="col">销售业绩</th>
            <th scope="col">佣金金额</th>
            <th scope="col">招募店主总数</th>
            <th scope="col">邀请人姓名</th>
            <th scope="col">邀请人号码</th>
            <th scope="col">上级店主</th>
          </tr>
        </thead>
        <tbody>
          <% cache ["dev/report/shops/index", @shops] do %>
            <%
              Shopkeeper.with_preload_parents(records: @shops.map(&:shopkeeper))
            %>
            <%= render partial: "dev/report/shops/index_tr",
              collection: @shops.select(&:shopkeeper),
              as: :record, cached: true
            %>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= render partial: "dev/shared/paginate", locals: {
        records: @shops
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>