<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "黄金", url_for(user_grade: "grade_gold"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "白金", url_for(user_grade: "grade_platinum"), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "体验", url_for(user_grade: "grade_trainee"), class: "nav-link" %>
      </li>
    </ul>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "本周", url_for(report_date: DateTime.now.all_week, user_grade: params[:user_grade]), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上周", url_for(report_date: DateTime.now.last_week.all_week, user_grade: params[:user_grade]), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "本月", url_for(report_date: DateTime.now.all_month, user_grade: params[:user_grade]), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上月", url_for(report_date: DateTime.now.last_month.all_month, user_grade: params[:user_grade]), class: "nav-link" %>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <caption class="p-0">
          每日运营店主等级汇总报表
          <%= button_tag "导出", class: "btn btn-sm ml-2 btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
        </caption>
        <%
          _stat_fields = Array.wrap(params[:user_grade]).map {|user_grade|
            %W(
              total_#{user_grade}_count
              #{user_grade}_count
              activation_#{user_grade}_count
              #{user_grade}_order_number
              #{user_grade}_order_amount
              #{user_grade}_sale_order_number
              #{user_grade}_sale_order_amount
              #{user_grade}_shopkeeper_order_number
              #{user_grade}_shopkeeper_order_amount
              #{user_grade}_sale_order_amount_rate
              #{user_grade}_shopkeeper_order_amount_rate
            )
          }.flatten
        %>
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><div class="wi3">日期</div></th>
            <% _stat_fields.each {|field| %>
              <th scope="col"><div class="wi3"><%= ReportDailyOperationalShopGradeSummary.human_attribute_name(field) %></div></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% cache ["dev/report/daily_operational_shop_grade_summaries/index", @report_daily_operational_shop_grade_summaries, params[:user_grade]] do %>
            <%= render partial: "dev/report/daily_operational_shop_grade_summaries/index_tr",
              collection: @report_daily_operational_shop_grade_summaries,
              as: :record, cached: -> (record) {[record, params[:user_grade]]}, locals: {
                stat_fields: _stat_fields
              }
            %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @report_daily_operational_shop_grade_summaries
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>