<div class="card">
  <div class="card-body">
    <h4 class="card-title">城市店主行为报表</h4>
    <ul>
      <li>
         <%= link_to "今日", url_for(report_date: Date.today)%>
         <%= link_to "昨日", url_for(report_date: Date.yesterday)%>
         <% 7.days.ago.to_date.upto(2.days.ago.to_date).reverse_each do |date| %>
           <%= link_to date.strftime("%m-%d"), url_for(report_date: date.to_s)%>
         <% end %>
      </li>
    </ul>
    <table class="table table-responsive-sm table-responsive-md table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">城市</th>
          <th scope="col">分享次数</th>
          <th scope="col">访问次数</th>
          <th scope="col">访客数</th>
          <th scope="col">订单数</th>
          <th scope="col">自购订单</th>
          <th scope="col">销售订单</th>
          <th scope="col">订单金额</th>
          <th scope="col">自购订单金额</th>
          <th scope="col">销售订单金额</th>
          <th scope="col">邀请白金店主</th>
          <th scope="col">邀请黄金店主</th>
          <th scope="col">ECN白金店主</th>
          <th scope="col">ECN黄金店主</th>

          <th scope="col">本月分享次数</th>
          <th scope="col">本月访问次数</th>
          <th scope="col">本月访客数</th>
          <th scope="col">本月订单数</th>
          <th scope="col">本月自购订单</th>
          <th scope="col">本月销售订单</th>
          <th scope="col">本月订单金额</th>
          <th scope="col">本月自购订单金额</th>
          <th scope="col">本月销售订单金额</th>
          <th scope="col">本月邀请白金店主</th>
          <th scope="col">本月邀请黄金店主</th>
          <th scope="col">本月ECN白金店主</th>
          <th scope="col">本月ECN黄金店主</th>
        </tr>
      </thead>
      <tbody>
        <% cache ["dev/report/city_shop_activities/index", @report_city_shop_activities] do %>
          <%= render partial: "dev/report/city_shop_activities/index_tr",
            collection: @report_city_shop_activities,
            as: :record, cached: true
          %>
        <% end %>
      </tbody>
    </table>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @report_city_shop_activities
      }
    %>
  </div>
</div>