<div class="card">
  <div class="card-body">
    <ul>
      <li>
         <%= link_to "今日", url_for(report_date: Date.today)%>
         <%= link_to "昨日", url_for(report_date: Date.yesterday)%>
         <% 7.days.ago.to_date.upto(2.days.ago.to_date).reverse_each do |date| %>
           <%= link_to date.strftime("%m-%d"), url_for(report_date: date.to_s)%>
         <% end %>
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <caption class="p-0">
          城市店主行为报表
          <%= button_tag "导出", class: "btn btn-sm ml-2 btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
        </caption>
        <%
           _stat_fields = ReportCityShopActivity.stat_fields.reject{|field|
            field.start_with?("day_3_", "day_60_", "stage_")
          }
        %>
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><div class="wi3">城市</div></th>
            <% _stat_fields.each {|field| %>
              <th scope="col"><div class="wi3"><%= ReportCityShopActivity.human_attribute_name(field) %></div></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% cache ["dev/report/city_shop_activities/index", @report_city_shop_activities] do %>
            <%= render partial: "dev/report/city_shop_activities/index_tr",
              collection: @report_city_shop_activities,
              as: :record, cached: true, locals: {
                stat_fields: _stat_fields
              }
            %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @report_city_shop_activities
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>