<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">运营报表</h4>
      <div class="list-group">
        <%= link_to "新增店主报表", dev_report_shops_path, class: "list-group-item list-group-item-action"%>
        <%= link_to "店主ECN报表", dev_report_shop_ecns_path, class: "list-group-item list-group-item-action"%>
        <%= link_to "店主行为报表", dev_report_shop_activities_path, class: "list-group-item list-group-item-action"%>

        <%= link_to "订单销售报表", sales_dev_report_orders_path, class: "list-group-item list-group-item-action"%>
        <%= link_to "订单信息", dev_report_orders_path, class: "list-group-item list-group-item-action"%>

        <%= link_to "店主组织架构树", tree_dev_report_shopkeepers_path, class: "list-group-item list-group-item-action"%>
        <%= link_to "城市店主行为报表", dev_report_city_shop_activities_path, class: "list-group-item list-group-item-action"%>
      </div>
    </div>
  </div>
</div>