<div class="card">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <%= link_to "今日", url_for(created_at: Date.today), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "昨日", url_for(created_at: Date.yesterday), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上周", url_for(created_at: DateTime.now.last_week.all_week), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "上月", url_for(created_at: DateTime.now.last_month.all_month), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "本周", url_for(created_at: DateTime.now.all_week), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "本月", url_for(created_at: DateTime.now.all_month), class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "半年", url_for(created_at: 6.months.ago.beginning_of_month..Time.now), class: "nav-link" %>
      </li>
    </ul>
    <form class="form-inline">
      <label class="sr-only" for="id">ID</label>
      <%= text_field_tag :id, params[:id], class: "form-control mb-2 mr-sm-2", placeholder: "店主ID"%>

      <label class="sr-only" for="user_id">店主用户ID</label>
      <%= text_field_tag :user_id, params[:user_id], class: "form-control mb-2 mr-sm-2", placeholder: "店主用户ID"%>

      <label class="sr-only" for="user_phone">手机号码</label>
      <%= text_field_tag :user_phone, params[:user_phone], class: "form-control mb-2 mr-sm-2", placeholder: "店主手机号"%>

      <button type="submit" class="btn btn-primary mb-2">查询</button>
    </form>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <caption class="p-0">
          累计店主行为报表
          <%= button_tag "导出", class: "btn btn-sm ml-2 btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
        </caption>
        <%
           _stat_fields = ReportCumulativeShopActivity.stat_fields.reject{|field|
            field.start_with?("day_3_", "day_60_")
          }
        %>
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col"><div class="wi3">店主姓名</div></th>
            <th scope="col"><div class="wi3">店铺名称</div></th>
            <th scope="col"><div class="wi3">省份</div></th>
            <th scope="col"><div class="wi3">城市</div></th>
            <th scope="col"><div class="wi3">开店时间</div></th>
            <th scope="col"><div class="wi3">店铺等级</div></th>
            <% _stat_fields.each {|field| %>
              <th scope="col"><div class="wi3"><%= ReportCumulativeShopActivity.human_attribute_name(field) %></div></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% cache ["dev/report/cumulative_shop_activities/index", @report_cumulative_shop_activities] do %>
            <%= render partial: "dev/report/cumulative_shop_activities/index_tr",
              collection: @report_cumulative_shop_activities,
              as: :record, cached: true, locals: {
                stat_fields: _stat_fields
              }
            %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @report_cumulative_shop_activities
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>