<div class="card">
  <div class="card-body">
    <h4 class="card-title">累计店主行为报表</h4>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <%= button_tag "导出", class: "btn btn-primary export-btn", data: {href: url_for(params.as_json.merge(action_type: "export"))}%>
    </div>
    <div class="table-responsive">
      <table class="table table-hover">
        <%
           _stat_fields = ReportCumulativeShopActivity.stat_fields.reject{|field|
            field.start_with?("day_3_", "day_60_")
          }
        %>
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">店主姓名</th>
            <th scope="col">店铺名称</th>
            <th scope="col">省份</th>
            <th scope="col">城市</th>
            <th scope="col">创建时间</th>
            <th scope="col">店铺等级</th>
            <% _stat_fields.each {|field| %>
              <th scope="col"><%= ReportCumulativeShopActivity.human_attribute_name(field) %></th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% cache ["dev/report/cumulative_shop_activities/index", @report_cumulative_shop_activities] do %>
            <%= render partial: "dev/report/cumulative_shop_activities/index_tr",
              collection: @report_cumulative_shop_activities,
              as: :record, cached: true, locals: {
                stat_fields: _stat_fields
              }
            %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render partial: "dev/shared/paginate", locals: {
        records: @report_cumulative_shop_activities
      }
    %>
  </div>
</div>

<%= render "dev/shared/export_script"%>